# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

# 4 space indentation
[*.{py,java,r,R}]
indent_size = 4

# 3 space indentation
[*.{md,Rmd,rst,tex,cls,lua}]
indent_size = 3

# 2 space indentation
[*.{js,json,y{a,}ml,html,cwl,bash,sh,bats}]
indent_size = 2

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

